#login-form {
    background-color: #ffb300;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#login-button {
    margin-bottom: 28px;
}

#login-jumbotron {
    background-color: khaki;
}

#main {
    padding-top: 18px;
    min-height: 100vh;
    background-color: khaki;
}

#my-user {
    cursor: pointer;
    box-shadow: none;
}

.messages {
    height: 280px;
    overflow-y: auto;
}

.message {
    max-width: 70%;
    border-radius: 6px;
    padding: 5px 10px;
    /*font-family: 'Amaranth', sans-serif;*/
}

.message + .message {
    margin-top: 12px;
}

.message-outbound {
    margin-left: 0;
    margin-right: auto;
    background-image: linear-gradient(to bottom, #cdecff, #96ccff);
}

.message-inbound {
    margin-left: auto;
    margin-right: 0;
    background-image: linear-gradient(to bottom, #E1F5C4, #EDE574);
}
